.main-content {
  display: flex;
  width: 100%;
  min-height: 100%;
  margin-top: 24px;
}
.create-playlist-content {
  width: 25%;
  padding-right: 24px;
  color: white;
  border-right: 1px solid #434343;
}
.search-track-content {
  width: 100%;
  padding-left: 24px;
}
.page-container .result-title {
  margin-top: 16px;
}
.page-container .track-list .ant-col {
  padding-bottom: 16px;
}
.page-container .track-list .ant-col,
.page-container .track-list .ant-col .ant-list-item {
  height: 100%;
}
.selected-track-collapse {
  width: 100%;
  max-width: 400px;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #212121 !important;
  border-radius: 8px 8px 0 0 !important;
}
.selected-track-collapse .selected-track-collapse-title {
  color: white;
  font-size: 16px;
  font-weight: 600;
}
.selected-track-collapse .ant-collapse-content {
  height: 100%;
  max-height: 400px;
  overflow: auto;
}
.selected-track-collapse .ant-collapse-content::-webkit-scrollbar {
  width: 16px;
}
.selected-track-collapse .ant-collapse-content::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #aaaaaa;
}
@media screen and (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }
  .create-playlist-content {
    width: 100%;
    padding-right: unset;
    border: none;
  }
  .search-track-content {
    margin-top: 20px;
    padding-left: unset;
  }
}
