.main-content {
  display: flex;
  width: 100%;
  min-height: 100%;
  margin-top: 24px;
}
.create-playlist-content {
  width: 25%;
  padding-right: 24px;
  color: white;
  border-right: 1px solid #434343;
}
.search-track-content {
  width: 100%;
  padding-left: 24px;
}
.page-container .result-title {
  margin-top: 16px;
}
.page-container .track-list .ant-col,
.page-container .track-list .ant-col .ant-list-item {
  height: 100%;
}
@media screen and (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }
  .create-playlist-content {
    width: 100%;
    padding-right: unset;
    border: none;
  }
  .search-track-content {
    margin-top: 20px;
    padding-left: unset;
  }
}
