.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #181818;
  border-radius: 8px;
  padding: 16px;
}
.card-container:hover {
  background-color: #282828;
}
.album-image {
  width: 100%;
  border-radius: 8px;
}
.description-container {
  color: white;
}
.track-name {
  font-weight: bold;
  margin-top: 16px;
}
.artist-name {
  margin-top: 2px;
  font-size: 14px;
  font-weight: 300;
}
.album-name {
  margin-top: 8px;
  font-size: 14px;
}
.select-track-button {
  width: 100%;
  background-color: midnightblue;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-weight: 600;
  margin-top: 16px;
  padding: 6px 0;
}
