.create-playlist .ant-btn-primary {
  margin-top: 8px;
  border-color: midnightblue;
  background-color: midnightblue;
}
.create-playlist .ant-btn-primary:hover {
  background-color: midnightblue;
  border-color: midnightblue;
  opacity: 0.8;
}
